# Q1. ans

In [7]:
def count(listoftuple):
    counting={}
    for i in listoftuple:
        counting[i]=counting.get(i,0)+1
        
    print(counting)

Input=[('hi','I','am'),('samila','new'),('at','Quantiphi'),('samila','new')]
count(Input)

{('hi', 'I', 'am'): 1, ('samila', 'new'): 2, ('at', 'Quantiphi'): 1}

# Q2 ans

In [10]:

class Node: 
    def __init__(self, d): 
        self.data = d 
        self.left = None
        self.right = None

def sortedArrayToBST(arr): 

    if not arr: 
        return None


    mid = int((len(arr)) / 2)
    root = Node(arr[mid]) 
    root.left = sortedArrayToBST(arr[:mid]) 
    root.right = sortedArrayToBST(arr[mid+1:]) 
    return root 
def preOrder(node): 
    if not node: 
        return
    #print(node.data)
    preOrder(node.left) 
    preOrder(node.right) 


import random
a=[]
for x in range(10):
    a.append(random.randint(1,100))
a.sort()
root=sortedArraytoBst(a)
preOrder(root)

NameError: name 'sortedArraytoBst' is not defined

# Q.3

In [11]:
dict={'black':'r', 
  'hero':'e', 
  'go' :'g', 
  'clue':'i',
  'mean':'q',
  'groan':'o',
  'sin':'p',
  'pint':'u',
  'tone':'n',
  'graze':'s',
  'sea':'t',
  'plant':'a'}
k=[]
v=[]
for key,value in dict.items():
    k.append(key)
    v.append(value)

result=[]
for i in k:
    if(set(i).issubset(v)):
        result.append(i)
result

['go', 'groan', 'sin', 'pint', 'tone', 'sea']

    # Q4a

In [12]:
def Sort_tuple(mylist):
    length=len(mylist)
    for i in range(0,length):
        for j in range(0,length-i-1):
            if(mylist[j][0]>mylist[j+1][0]):
                temp=mylist[j]
                mylist[j]=mylist[j+1]
                mylist[j+1]=temp
    return mylist

In [13]:
mylist1=[(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
Sort_tuple(mylist1)

[(1, 2), (2, 10), (4, 3), (6, 7), (9, 11), (12, 5), (15, 4)]

In [ ]:
#Q4 b
def Sort_tuple(mylist):
    length=len(mylist)
    for i in range(0,length):
        for j in range(0,length-i-1):
            if(mylist[j][1]>mylist[j+1][1]):
                temp=mylist[j]
                mylist[j]=mylist[j+1]
                mylist[j+1]=temp
    return mylist

In [ ]:
mylist=[(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
Sort_tuple(mylist)

In [ ]:
#Q4c
def Sort_tuple(mylist):
    length=len(mylist)
    for i in range(0,length):
        for j in range(0,length-i-1):
            if(mylist[j][0]<mylist[j+1][0]):
                temp=mylist[j]
                mylist[j]=mylist[j+1]
                mylist[j+1]=temp
    return mylist

In [ ]:
mylist2=[(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
Sort_tuple(mylist2)

In [ ]:
#Q4c
def Sort_tuple(mylist):
    length=len(mylist)
    for i in range(0,length):
        for j in range(0,length-i-1):
            if(mylist[j][1]<mylist[j+1][1]):
                temp=mylist[j]
                mylist[j]=mylist[j+1]
                mylist[j+1]=temp
    return mylist

In [ ]:
mylist3=[(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
Sort_tuple(mylist3)

In [ ]:
mylist=[(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
Sort_tuple(mylist)

# Q5

In [ ]:
#A mutable object can be changed after it's created, and an immutable object can't. 
#Tuple  and string are immutable
#list and dict are mutable

In [ ]:
s = 'a'
s[0] ='b'
s

# Q6

In [14]:
import pandas as pd
df=pd.read_csv('banking.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

In [17]:
df.loc[0:12,'job']

0     blue-collar
1      technician
2      management
3        services
4         retired
5      management
6     blue-collar
7     blue-collar
8          admin.
9     blue-collar
10      housemaid
11     management
12     management
Name: job, dtype: object

In [15]:
df.education.unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [ ]:
df['y'].value_counts()

## columns

In [ ]:

df.columns

In [ ]:
df[0:18]

In [ ]:
df.groupby('y').mean()

In [ ]:
df.groupby('marital', as_index=False)['age'].mean()

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().values.any()

In [25]:
sam=[1,2,3]
count=0
for i in sam:
    if(i==2):
        count=count+2
        print(count)
    else:
        print("nothing")

nothing
2
nothing

In [26]:
for i in range(0,10):
    print("samila")

samila
samila
samila
samila
samila
samila
samila
samila
samila
samila